<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPFormatter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC9ACDFB1AA5D8A900C2915B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9ACE061AA5D8AA00C2915B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC12C8D1AC34BED00221A56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
